<a href="https://colab.research.google.com/github/osmarbraz/exemplos_python/blob/master/ExemplosPythonBancoDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exemplos Banco de dados em Python no Google Colaboratory

-----------------------------------------
**Guia Colab Iniciante:**

https://medium.com/machina-sapiens/google-colab-guia-do-iniciante-334d70aad531

**Documentação oficial:**

https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/01.01-Help-And-Documentation.ipynb

**Características :**

https://colab.research.google.com/notebooks/basic_features_overview.ipynb

## Banco de Dados

https://www.betterdatascience.com/python-has-a-built-in-database-heres-how-to-use-it/

## Criando o Banco de Dados

In [ ]:
# Importando a biblioteca do SQLite3
import sqlite3

# Cria o banco de dados 'clientes.db' no diretório corrente
bd = sqlite3.connect('clientes.db')

# Cria a conexão com o banco de dados
con = bd.cursor()

# Lista o diretório do arquivo com o banco de dados
!ls -la

total 16
drwxr-xr-x 1 root root 4096 Oct  3 15:35 .
drwxr-xr-x 1 root root 4096 Oct  3 15:34 ..
-rw-r--r-- 1 root root    0 Oct  3 15:35 clientes.db
drwxr-xr-x 1 root root 4096 Oct  1 16:28 .config
drwxr-xr-x 1 root root 4096 Oct  1 16:28 sample_data

## Criar Tabela

## Função para verificar se tabela existe

In [ ]:
def tabelaExiste(nome_tabela, con):
    con.execute('''SELECT count(name) FROM sqlite_master WHERE TYPE = 'table' AND name = '{}' '''.format(nome_tabela))
    if con.fetchone()[0] == 1:
        return True
    return False

## Criando a tabela cliente

In [ ]:
if not tabelaExiste('cliente', con):
    con.execute('''
        CREATE TABLE cliente(
            clienteId INTEGER PRIMARY KEY,
            nome TEXT,
            cpf TEXT,
            salario REAL
        )
    ''')

## Inserir Dados

In [ ]:
con.execute('''
        INSERT INTO cliente (clienteId, nome, cpf, salario)
        VALUES(?, ?, ?, ?)
    ''', (1, 'Joao da silva', '111111', 100.0))

In [ ]:
con.execute('''
        INSERT INTO cliente (clienteId, nome, cpf, salario)
        VALUES(?, ?, ?, ?)
    ''', (2, 'Maria da silva', '222222', 200.0))

In [ ]:
x = con.execute('''
        INSERT INTO cliente (clienteId, nome, cpf, salario)
        VALUES(?, ?, ?, ?)
    ''', (3, 'José da silva', '333333', 300.0))

if x.rowcount == 1:
  print("Registro incluido")

Registro incluido

## Consulta de dados

### Consultando todos os registros

In [ ]:
con.execute('''SELECT * FROM cliente''')
    
for tupla in con.fetchall():
    print(tupla)

(1, 'Joao da silva', '111111', 100.0)
(2, 'Maria da silva', '222222', 200.0)
(3, 'José da silva', '333333', 300.0)

### Consultando registro específico

In [ ]:
# Id do cliente a ser consultado
clienteId = 1

x = con.execute('''SELECT * FROM cliente WHERE clienteId = {}'''.format(clienteId))

if x.rowcount != -1:
  for tupla in con.fetchall():
    print(tupla)   
else:
  print("Registro não encontrado!")

Registro não encontrado!

## Apagando registro específico

### Com parâmetros(?)

In [ ]:
# Id do cliente a ser apagado
clienteId = 1

consulta = 'DELETE FROM cliente WHERE clienteId = ?'
parametros =  (clienteId,)
 
x = con.execute(consulta, parametros)

if x.rowcount != 0:
  print("Registro excluído!")
else:
  print("Registro não excluído!")

Registro excluído!

### Com formatação do texto

In [ ]:
# Id do cliente a ser apagado
clienteId = 1

x = con.execute('''DELETE FROM cliente WHERE clienteId = {}'''.format(clienteId))
if x.rowcount != 0:
  print("Registro excluído!")
else:
  print("Registro não excluído!")

Registro não excluído!

## Atualizando um registro

In [ ]:
 consulta = ('''UPDATE cliente SET clienteId = ?, nome = ?, cpf = ?, salario = ?  WHERE clienteId = ?''')
 parametros =  (1,'Joao', '1',1000.0 , 2)

 x =  con.execute(consulta,parametros)

if x.rowcount != 0:
  print("Registro atualizado!")
else:
  print("Registro não atualizado!")

Registro atualizado!